node-red-flows/TweetTonev6.json
[{"id":"f720be60.744f2","type":"twitter in","z":"ffbbe181.dbb9c","twitter":"","tags":"","user":"false","name":"Listen to twitter feed","inputs":1,"x":470,"y":140,"wires":[["a9ada5e8.cb0128","8ea29c.99cdbd68"]]},{"id":"2c3499b.9773d66","type":"function","z":"ffbbe181.dbb9c","name":"Remove URLS and replace # and @","func":"    if(true ||  (!msg.tweet.quoted_status && !msg.tweet.retweeted_status)){\n        \n    if (msg.tweet.extended_tweet) {\n        var details = msg.tweet.extended_tweet.full_text;\n    } \n    // else if (msg.tweet.retweeted_status) {\n    //     if (msg.tweet.retweeted_status.extended_tweet) {\n    //         var details = msg.tweet.retweeted_status.extended_tweet.full_text\n    //     } else {\n    //         var details = msg.tweet.retweeted_status.text\n    //     }\n    // }\n    else {\n        var details = msg.tweet.text;\n    }\n    // check not url or mention\n    if(msg.tweet.entities.urls.length === 0) {\n        if (details.indexOf(\"RT\") === 0){\n            var tweet = details.replace(details.substring(0,details.indexOf(':')+1),\"\");\n        } else {\n            var tweet = details;\n        }\n    // && msg.tweet.entities.user_mentions.length === 0\n        var newtweet = tweet.replace(/#/g, \" Hash tag \");\n        var newertweet = newtweet.replace(/@/g, '');\n        var newesttweet = newertweet.replace(/\\n/g,'');\n    \n        // regex from https://stackoverflow.com/questions/1500260/detect-urls-in-text-with-javascript\n        // msg.payload = newesttweet.replace( /(([a-z]+:\\/\\/)?(([a-z0-9\\-]+\\.)+([a-z]{2}|biz|com|co|edu|gov|info|net|org|ly))(:[0-9]{1,5})?(\\/[a-z0-9_\\-\\.~]+)*(\\/([a-z0-9_\\-\\.]*)(\\?[a-z0-9+_\\-\\.%=&amp;]*)?)?(#[a-zA-Z0-9!$&'()*+.=-_~:@/?]*)?)(\\s+|$)/gi, \"\" );\n        msg.payload = newesttweet;\n        return msg;\n    }\n}\n\n\n// !new RegExp(\"([a-zA-Z0-9]+://)?([a-zA-Z0-9_]+:[a-zA-Z0-9_]+@)?([a-zA-Z0-9.-]+\\\\.[A-Za-z]{2,4})(:[0-9]+)?(/.*)?\").test(details)","outputs":1,"noerr":0,"x":970,"y":140,"wires":[["9f97d46d.d67008"]]},{"id":"abefcabc.6c9f98","type":"comment","z":"ffbbe181.dbb9c","name":"Paste API keys for Watson Tone Analyzer","info":"1. Log into IBM Cloud\n2. Create an instance of the \nWatson Tone Analyzer service.\n3. Visit the Service Credentials tab\n4. Click on View Credentials\n5. Copy/Paste the password and username into\nthis Node-RED node.\n\nOr\n1. Open this Cloud Foundry Node-RED Starter App\n2. Create a new Connection\n3. Bind the Watson Tone Analyzer service\n4. Restage your Cloud Foundry application","x":1180,"y":40,"wires":[]},{"id":"9f97d46d.d67008","type":"watson-tone-analyzer-v3","z":"ffbbe181.dbb9c","name":"Analyze Tone","tones":"emotion","sentences":"false","contentType":"false","tone-method":"generalTone","inputlang":"en","default-endpoint":false,"service-endpoint":"https://gateway-lon.watsonplatform.net/tone-analyzer/api","x":1210,"y":80,"wires":[["c84f619.1382aa"]]},{"id":"66b548a6.33e388","type":"http in","z":"ffbbe181.dbb9c","name":"Search keyword","url":"/search","method":"get","upload":false,"swaggerDoc":"","x":140,"y":80,"wires":[["996596c0.f58768"]]},{"id":"996596c0.f58768","type":"function","z":"ffbbe181.dbb9c","name":"get query params","func":"// var keyword = msg.req.query[\"keyword\"];\nflow.set(\"req\", msg.req);\nflow.set(\"res\", msg.res);\nflow.set(\"keyword\", msg.req.query[\"keyword\"]);\n\nvar keyword = msg;\nkeyword[\"payload\"] = msg.req.query[\"keyword\"];;\nvar count = {payload: msg.req.query[\"count\"] || 20}\n\n// msg[\"keyword\"] = keyword;\n\nreturn [msg,keyword,count];","outputs":3,"noerr":0,"x":250,"y":140,"wires":[[],["f720be60.744f2"],[]],"outputLabels":["msg","keyword","count"]},{"id":"5238435c.7f8d9c","type":"http response","z":"ffbbe181.dbb9c","name":"search","statusCode":"200","headers":{},"x":1890,"y":260,"wires":[]},{"id":"f778a478.52b008","type":"comment","z":"ffbbe181.dbb9c","name":"Get request","info":"Search keyword and count","x":170,"y":40,"wires":[]},{"id":"aaef781f.b4abc8","type":"comment","z":"ffbbe181.dbb9c","name":"Split params ","info":"Split params into keyword and count","x":210,"y":200,"wires":[]},{"id":"a9ada5e8.cb0128","type":"function","z":"ffbbe181.dbb9c","name":"Filter to English Language","func":"if (msg.lang === 'en') {\n  return msg;\n} else {\n  return null;\n}","outputs":1,"noerr":0,"x":690,"y":140,"wires":[["2c3499b.9773d66"]]},{"id":"81af6d06.59b38","type":"batch","z":"ffbbe181.dbb9c","name":"Tweets","mode":"count","count":"20","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":1300,"y":240,"wires":[["af2452.5b420bb","a13aaa0.6120f58"]]},{"id":"af2452.5b420bb","type":"join","z":"ffbbe181.dbb9c","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1450,"y":220,"wires":[["4922e401.2ec7cc"]]},{"id":"49b61192.227a7","type":"debug","z":"ffbbe181.dbb9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1890,"y":180,"wires":[]},{"id":"4922e401.2ec7cc","type":"json","z":"ffbbe181.dbb9c","name":"","property":"payload","action":"str","pretty":false,"x":1570,"y":220,"wires":[["47500084.476e9"]]},{"id":"c84f619.1382aa","type":"function","z":"ffbbe181.dbb9c","name":"Compose tweet object","func":"var newmsg = null\nif (msg.response.document_tone.tones.length > 0) {\n    newmsg = {payload: {tweet: msg.payload, scores: 1}};\n}\n\n\nreturn newmsg;","outputs":1,"noerr":0,"x":1280,"y":180,"wires":[["81af6d06.59b38"]]},{"id":"a13aaa0.6120f58","type":"change","z":"ffbbe181.dbb9c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":200,"wires":[["f720be60.744f2"]]},{"id":"47500084.476e9","type":"function","z":"ffbbe181.dbb9c","name":"Add response","func":"msg[\"req\"] = flow.get(\"req\");\nmsg[\"res\"] = flow.get(\"res\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1720,"y":220,"wires":[["49b61192.227a7","5238435c.7f8d9c"]]},{"id":"8ea29c.99cdbd68","type":"debug","z":"ffbbe181.dbb9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"tweet","x":630,"y":220,"wires":[]}]